*{
    margin:0;
    padding:0;
}

body{
    background: url(https://images.pexels.com/photos/230794/pexels-photo-230794.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed;
    background-size: cover;
} 

.container{
    color: white;
    /* border: 12px solid yellow; */
    position:absolute;
    top: 25%;
    left:40%;
}

.container h1{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 5px solid purple;
    margin-bottom: 15px;
    padding: 13px 0;
    width: 100%;
    display: inline-block;
}

.box{
    width: 100%;
    border-bottom: 2px solid purple;
    margin: 22px 0px;
}

.box input{
    width: 75%;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 20px;
    color: white;
    background: none;
}

.box i{ 
    width: 25px; 
    text-align: center;
    padding: 0 12px;
}

.btn{
    color: white;
    cursor: pointer;
    outline: none; 
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
    
}

.btn:hover{
    opacity: 0.5;
    color: purple; 
    background: white; 
    
}